.form-wrapper {
  margin: 0 1rem;
}

.activity-form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  background: #f6f4eb;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.activity-form__input {
  line-height: 2rem;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
  align-self: center;
}

input[type="text"] {
  border: 2px solid rgb(37, 105, 194);
  border-radius: 10px;
  padding: 5px;
  background: transparent;
  width: 60%;
  font-size: 1rem;
}

.add-activity-button {
  font-size: 1rem;
  background-color: #06295b;
  color: white;
}

.add-activity-button:hover {
  background: #05377e;
}
