.activity-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  background: #f6f4eb;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.activity-form__input {
  margin-left: 1rem;
  line-height: 1.5rem;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: #749bc2;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
}

button:hover {
  background: #597897;
}
