* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(
    304deg,
    rgba(145, 200, 228, 1) 17%,
    rgba(116, 155, 194, 1) 100%
  );
}

@media (max-width: 390px) {
  body {
    height: 100%;
  }
}
h1 {
  text-align: center;
  margin: 2rem;
}

h2 {
  color: #27374d;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

h3 {
  color: #27374d;
  margin: 1rem 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1rem;
  padding: 2px 16px;
  margin: 0.5rem 1rem 0 0;
  min-height: 32px;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
}
